*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	color: white;
	background-image: url('mou.jpg');
	font-family: 'montserrat',sans-serif;
	background-size: cover;
	font-size: 30px;

}
.wrap{
	display:flex;
	flex-direction: column;
	min-height: 100vh;

}
header{
	display: flex;
	justify-content: center;
	align-items: center;padding:50px 15px 15px;

}
header input{
	width:100%;
	max-width: 350px;
	padding: 10px 15px;
	border:none;
	outline:none;
	border-radius: 16px 0px 16px 0px;
	transition: 0.4s ease-out;
}
main{
	
	padding:25px 25px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.location .city{
	font-weight: 500;
	font-size: 40px;
	margin-bottom: 5px;
	text-shadow: 2px 2px black;


}


.current .temp{
font-size: 90px;
margin-top: 20px;
text-shadow: 2px 2px black;
font-weight: 500;
}
.current .weather{
	font-size: 40px;
	font-weight: 600;
	margin-top: 8px;
}
.current .hilow{
	margin-top: 8px;

}


